* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.categoryTag {
  display: inline;
  color: azure;
  background: #212529;
  padding: 0.5rem;
  margin: 5px;
  border-radius: 0.375rem;
}

#customFlex {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  #customFlex {
    flex-direction: column;
  }

  .mediaImage {
    width: 95vw;
    height: 50%;
  }
}
