.input {
  padding: 5px;
  border-color: black;
  border-width: 1px;
  border-style: line;
  border-radius: 0.375rem;
}

.containor {
  width: 35%;
}

@media screen and (max-width: 600px) {
  .containor {
    width: 80%;
  }
}
