.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slogan {
  font-style: italic;
  font-weight: bold;
  padding: 2rem;
}

.input:focus {
  border: none;
  outline: none;
}

.input {
  border: none;
  font-size: 1.2rem;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 50px;
  font-size: 1.2rem;
  font-style: italic;
  display: flex;
  align-items: center;
}
